body {
	font-family: 'Roboto', sans-serif;
 	background-color: #e1e2e2;
}

.heading {
	max-width:1050px;
	background-color: #e1e2e2;
	margin: 0 auto;
	padding: 5px 0;
}

h2 {
	font-size: 1em;
	text-align: left;
}

p > span {
	color: green;	
}

h1{
	font-size: 2.5em;
    text-align: center;
    margin: 10px 0;
}

p {
	font-size: .9rem;
}

#wrapper {
	/* display: grid;
	grid-template-columns: 1fr; */
	box-sizing:border-box;
	margin-right:auto;
	margin-left:auto;
	max-width:1050px;	
}

.card {
	margin-top: 10px;
	padding: 20px;
	background-color: #fff;
}

.card-panel {
	height: 10px;
	width: 100%;
	background-color: aqua;
	border-radius: 5px;
}

/* Create the make-red rule here */

.odd {
            background-color: #E84610;
        }

        .even {
            background-color: #C65353;
        }

        .underline {
            text-decoration: underline;
        }

        .border {
            border: solid 2px #ccc;
        }

        td,
        th {
            width: 5rem;
            height: 2rem;
            border: 1px solid #ccc;
            text-align: center;
        }

        th {
            background: lightblue;
            border-color: white;
        }
        table {
            margin-top: 50px;
          
        }
        .center {
            margin-left: auto;
             margin-right: auto;
        }
@media screen and (min-width: 600px) {
	#wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
	}
}